{% extends 'stock/base.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-sm-11 col-md-4 mx-auto mt-5 px-3">
            <h1 class="fw-light">Track and Manage Your Stock</h1>
            <p class="fw-light">Keep track your stock and receive quantity alerts for low stock inventory</p>
            <div>
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started</a>
            </div>

        </div>

    </div>
</div>

{% endblock content %}
